<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/navStyle.css">
</head>

<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/show">Show</a></li>
        </ul>
    </nav>
</body>

</html>