form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-control {
    margin: 10px 0;
    width: 100%;
    max-width: 400px;
}

label {
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"],
select,
textarea {
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: none;
    outline: none;
    width: 100%;
}

button[type="submit"] {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}